<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         testdox="true"
         processIsolation="true"
         preserveGlobalState="false"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="ATORA LMS Unit Tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">modules/crm-v2/services</directory>
            <directory suffix=".php">modules/lms</directory>
            <directory suffix=".php">modules/mcp</directory>
        </include>
    </source>
</phpunit>
